*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
}
main {
    margin: auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    display: flex;
    background-color: rgba(240, 248, 255, 0.301);
    padding: 0 0 0 20px;
    border-radius: 50px;
}

header {
    align-items: center;
    background-color: #093003;
    padding: 20px 0;
}
nav ul li  {
    display: inline;
    margin-left: 10px;
    font-size: 20px;
    margin: 0 0 0 35px; 
}
nav ul li a {
    text-decoration: none;
    color: white;

}
nav ul li a:hover {
    color: #093003;
}
button {
    margin: 0 80px;
    width: 100px;
    height: 30px;
    border-radius: 10px; 
}
.hero1 {
    display: flex;
    background-color: #093003;
}
.hero12{
    width: 40%;
}
.burger {
    width: 400px;
    transform: rotate(-40deg);

}
.salad {
    width: 400px;
    margin:-70px 0 0 -250px;
}
.hero11 h2 {
    font-size: 45px;
    margin-left: 40px;
    padding-top: 150px;
    color: white;
}
.hero11 button {
    width: 160px;
    margin-top: 60px;
    font-size: 16px;
    color: #093003;
}
.herosecond {
    display: flex;
    margin: 60px 40px;
}
.second1 {
    width: 200px;
    border-radius: 50px 50px 0 0;
} 
.second2 {
    width: 200px;
    margin-top: -10px;
    transform: rotate(-180deg);
    border-radius: 50px 50px 0 0;
}
.second3 {
    width: 200px;
    border-radius: 50px 50px 0 0;
    margin-left: 20px;
}
.second4 {
    width: 200px; 
    margin-left: 20px;
}
.last {
    margin-top: 40px;
}
.last h3 {
    font-size: 36px;
}
.last button {
    background-color: #884534;
    margin-top: 30px;
    margin-left: -5px;
}
.herothird1 {
    background-color: #D3DBB6;
    display: flex;
    padding: 60px 40px;
    justify-content: space-between;
}
.herothird1 h2 {
    font-size: 36px;
}
.herothird1 button {
    margin-top: 40px;
    width: 200px;
    margin-left: -3px;
    background-color: #884534;
}
.herothird2 {
    background-color: white;
    border-radius: 0 50px 0 50px;
}
.herothird2 img {
    height: 300px;
    width: 400px;
    padding: 40px 0 40px 0;
}
footer {
    padding: 100px 0;
    background-color: #884534;
}
table {
    margin: 0 40px;
}
table tr h3 {
    font-size: 36px;
    color: white;
}
table tr p {
    margin: 20px 0 0 0;
    color: white;
}  
table tr nav {
    margin-left: 140px;
}
table tr nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
table tr nav a:hover {
    color: #093003;
} 
.footerform1 {
    color: white;
}
.footerform2 {
    width: 300px;
    padding: 10px;
}
.footerform3 {
    width: 300px;
    background-color: #D3DBB6;
    margin-left: -1px;
}
.copyright {
    font-size: 18px;
    margin: 20px 0 -80px 40px ;
    color: white;
    font-style: italic;
}
.quicklink {
    padding-left: 200px;
}
/* About page */
.About1 {
    padding: 0 200px;
}
.About1 h1 {
    padding: 100px 0px 20px 0;
    font-size: 36px;
    color: white;
    text-decoration: underline;
    text-decoration-color: #FD9E04;
}
.About1 p {
    color: white;
    font-size: 20px;
}
.About1 button {
    background-color: #FD9E04;
    color: white;
    margin-top: 70px;
}
.About2 {
    display: flex;
}
.About2 img {
    margin: 40px 40px;
}
.About21 {
    padding: 80px 0;
}
.About3 {
    background-color: #D3DBB6;
    display: flex;
}
.service1 {
    display: flex;
    justify-content: space-between;
}
fieldset {
    margin: 40px 0;
}
.formpage  {
    border-spacing: 30px;
    background-color: #D3DBB6;
}
.formpage input {
    background-color: #884534;
    width: 200px;
    height: 20px;
}
.form1 {
    padding-right: 140px;
}